{{!-- <section class="sign-up-page">
    <div class="col-md-6">
    <h2>Sign up!</h2>
    <form class="form signup-form">
         <div class="form-group">
        <label for="user-signup">Select your username:</label>
        <input class="form-input" type="text" id="user-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up!</button>
      </div>
    </form>
    </div>
</section>

<script src="/Challenges/tech-blog-MVC/public/js/signUp.js"></script> --}}